{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditoraDinamica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EditoraDinamica/title.css' %}">
</head>
    <body>
        <div class="base-container">
            <div >
                <h1 id="textintro">EditoraDinamica</h1>
            </div>
            <div class="container-right">
                <h3> Login | Cadastro <h3>
            </div>
        </div>
        {% block body %}
        <div class="carousel-container">
            <button class="prev-btn">‹</button>
            <div class="carousel">
                {% for livro in livros.capa_set.all %}
                <a href="{% url 'livros' livro.id %}"><img class="book-cover" alt="book image" src="{% static 'img/VersoLivro/livro.url' %}"></a>
                {% endfor %}
            </div>
            <button class="next-btn">›</button>
        </div>
        {% endblock %}
        
    
        


    </body>
</html>