{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditoraDinamica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EditoraDinamica/title.css' %}">
    <script src="{% static 'js/EditoraDinamica/carousel.js' %}"></script>
</head>
    <body>
        <div class="base-container">
            <div >
                <h1 id="textintro">EditoraDinamica</h1>
            </div>
            <div class="container-right">
                <h3> Login | Cadastro <h3>
            </div>
        </div>



        <div class="carousel-container">
            <button class="prev-btn">‹</button>
            <div class="carousel">
                <img class="book-cover" alt="suntzu book image" src="{% static 'img/EditoraDinamica/suntzu.jpg' %}">
                <img class="book-cover" alt="musashi book image" src="{% static 'img/EditoraDinamica/musashi.jpg' %}">
                <!-- Adicione mais imagens de capas de livros aqui -->
            </div>
            <button class="next-btn">›</button>
        </div>
    
        


    </body>
</html>